<!-- Cartel para editar orden -->
<div class="modal fade" id="editarStock<%=id%>"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer">
            <div class="container mt-10">     
                <div class="card border-secondary">  
                    <div class="card-header bg-secondary text-white">Editar stock</div>
                    <div class="card-body">
                        <form action="/updateStock" method="POST">
                          <input id="id" name="id" value="<%= datos.idstock%>" hidden>
                            <div class="mb-3">
                            <label for="user" class="form-label mt-2">Item</label>
                            <input type="text" class="form-control" id="item" name="item" tabindex="1" value="<%= datos.item %>">
                            <label for="user" class="form-label mt-2">Cantidad</label>
                            <input type="text" class="form-control" id="cantidad" name="cantidad" tabindex="1" value="<%= datos.cantidad %>">
                            <label for="user" class="form-label mt-2">Cantidad advertencia</label>
                            <input type="text" class="form-control" id="CantidadAdvertencia" name="CantidadAdvertencia" tabindex="1" value="<%= datos.CantidadAdvertencia %>"> 
                            <label for="user" class="form-label mt-2">Cantidad crítica</label>
                            <input type="text" class="form-control" id="CantidadCritica" name="CantidadCritica" tabindex="1" value="<%= datos.CantidadCritica %>">
                            </div>   
                            <div class="mb-3">
                            
                            </div>        
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                        </form>
                    </div>
                </div>        
          </div>
        </div>
      </div>
    </div>
  </div>