<!-- Cartel para editar orden -->
<div class="modal fade" id="editarTercero<%=id%>"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer">
            <div class="container mt-10">     
                <div class="card border-secondary">  
                    <div class="card-header bg-secondary text-white">Editar persona</div>
                    <div class="card-body">
                        <form action="/updateTercero" method="POST">
                          <input id="id" name="id" value="<%= datos.idterceros%>" hidden>
                            <div class="mb-3">
                            <label for="user" class="form-label mt-2">Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" tabindex="1" value="<%= datos.nombre %>">
                            <label for="user" class="form-label mt-2">Apellido</label>
                            <input type="text" class="form-control" id="apellido" name="apellido" tabindex="1" value="<%= datos.apellido %>">
                            <label for="user" class="form-label mt-2">Rol</label>
                            <input type="text" class="form-control" id="rol" name="rol" tabindex="1" value="<%= datos.rol %>"> 
                            <label for="user" class="form-label mt-2">Teléfono</label>
                            <input type="text" class="form-control" id="telefono" name="telefono" tabindex="1" value="<%= datos.numero_telefonico %>">
                            <label for="user" class="form-label mt-2">Email</label>
                            <input type="text" class="form-control" id="email" name="email" tabindex="1" value="<%= datos.correo_electronico %>"> 
                            <label for="user" class="form-label mt-2">Nota</label>
                            <input type="text" class="form-control" id="nota" name="nota" tabindex="1" value="<%= datos.descripcion %>">
                            </div>   
                            <div class="mb-3">
                            
                            </div>        
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                        </form>
                    </div>
                </div>        
          </div>
        </div>
      </div>
    </div>
  </div>