<!-- Modal para ver una orden -->
<div class="modal fade" id="verOrden<%=id%>"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
          <div class="container mt-15">     
              <div class="card border-secondary">  
                  <div class="card-header bg-primary text-white">Ver orden de trabajo</div>
                  <div class="card-body">
                    <div class="card">

                      <div class="card-body">
                        <h5 class="card-title text-center"><%= datos.actividad %></h5>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                            <strong>Identificaci贸n:</strong> <%= datos.id_orden_trabajo %>
                          </li>
                          <li class="list-group-item">
                            <strong>Estado:</strong> <%= datos.estado %>
                          </li>
                          <li class="list-group-item">
                            <strong>Tipo:</strong> <%= datos.tipo %>
                          </li>
                          <li class="list-group-item">
                            <strong>Prioridad:</strong> <%= datos.prioridad %>
                          </li>
                          <li class="list-group-item">
                            <strong>Activo:</strong> <%= datos.activo %>
                          </li>
                          <li class="list-group-item">
                            <strong>Elemento involucrado:</strong> <%= datos.elemento %>
                          </li>
                          <!-- <li class="list-group-item">
                            <strong>Sector:</strong> [Sector]
                          </li> -->
                          <li class="list-group-item">
                            <strong>Responsable:</strong> <%= datos.responsable %>
                          </li>
                          <li class="list-group-item">
                            <strong>Creador:</strong> <%= datos.usuario_creador %>
                          </li>
                          <%if(datos.estado=="Pendiente"){%>
                          <li class="list-group-item">
                            <strong>Inicio programado:</strong> <%= datos.fecha_inicio %>
                          </li>
                          <%}%>
                          <%if(datos.estado!="Pendiente"){%>
                          <li class="list-group-item">
                            <strong>Fecha inicio:</strong> <%= datos.fecha_inicio_real %>
                          </li>
                          
                          <%}%>
                          <%if(datos.estado=="Finalizada"){%>
                          <li class="list-group-item">
                            <strong>Fecha fin:</strong>  <%= datos.fecha_fin %>
                          </li>
                          <li class="list-group-item">
                            <strong>Duraci贸n:</strong> <%= datos.horas_totales %> [hs]
                          </li>
                          <%}%>
                          <li class="list-group-item">
                            <strong>Problema:</strong> <%= datos.descripci贸n_problematica %>
                          </li>
                          <%if(datos.estado=="Finalizada"){%>
                          <li class="list-group-item">
                            <strong>Soluci贸n:</strong> <%= datos.descripcion_solucion %>
                          </li>
                          <%}%>
                        </ul>
                      </div>
                    </div>
                  </div>
              </div>        
        </div>
      </div>
    </div>
  </div>
</div>
  