<!-- Cartel para editar orden -->
<div class="modal fade" id="editarOrden<%=id%>"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
          <div class="container mt-10">     
              <div class="card border-secondary">  
                  <div class="card-header bg-primary text-white">Editar orden de trabajo número:<strong class="p1"> <%= datos.id_orden_trabajo%></strong></div>
                  <div class="card-body">
                      <form action="/update" method="POST">
                        <input id="id" name="id" value="<%= datos.id_orden_trabajo%>" hidden>
                          <div class="mb-3">
                          <label for="user" class="form-label">Tipo</label>
                              <select id="select" name="select" class="form-select" aria-label="Default select example" tabindex="2" >
                                <option <%= datos.tipo == ' ' ? "selected" : '' %> value="">Seleccionar tipo</option>
                                <option <%= datos.tipo == 'Correctiva' ? "selected" : '' %> value="Correctiva">Correctiva</option>
                                <option <%= datos.tipo == 'Programada' ? "selected" : '' %> value="Programada">Programada</option>                    
                              </select>
                          <label for="user" class="form-label mt-2" id="intPeriodica">Repetir cada (cantidad de horas) </label>
                          <input type="text" class="form-control"  id="lapPeriodica" name="lapPeriodica" tabindex="1" value="<%= datos.lapsoProgramada%>">
                          <label for="user" class="form-label">Estado</label>
                              <select id="estado" name="estado" class="form-select" aria-label="Default select example" tabindex="2" >
                                <option <%= datos.estado == 'Pendiente' ? "selected" : '' %> value="Pendiente">Pendiente</option>
                                <option <%= datos.estado == 'En proceso' ? "selected" : '' %> value="En proceso">En proceso</option>
                                <option <%= datos.estado == 'Finalizada' ? "selected" : '' %> value="Finalizada">
                                  
                                  
                                  Finalizada
                                </option>                    
                              </select>
                          <label for="user" class="form-label mt-2">Tarea</label>
                          <textarea class="form-control" id="tarea" name="tarea" tabindex="1" style="height: 80px; resize: none;"><%= datos.actividad%></textarea>

                          <label for="user" class="form-label mt-2">Fecha inicio</label>
                          <input type="datetime-local" class="form-control" id="fecha" name="fecha" tabindex="1" value="<%= datos.fecha_inicio %>">


                          <label for="user" class="form-label mt-2">Activo</label>

                          <select id="activo" name="activo" class="form-select" tabindex="1">
                            <option value="">Seleccionar activo</option>
                            <% activos.forEach(activo => { %>
                              <option  <%= datos.activo == activo.nombre ? "selected" : '' %>
                                value="<%= activo.nombre %>" >
                                <%= activo.nombre %>      
                              </option>
                            <% }); %>
                          </select>
                          <label for="user" class="form-label mt-2">Elemento</label>
                          <input type="text" class="form-control" id="elemento" name="elemento" tabindex="1" value="<%= datos.elemento %>">
                          <!-- <label for="user" class="form-label mt-2">Responsable</label>
                          <input type="text" class="form-control" id="Responsable" name="Responsable" tabindex="1" value="<%= datos.responsable %>">  -->
                          <label for="user" class="form-label mt-2">Responsable</label>

                          <select id="Responsable" name="Responsable" class="form-select" tabindex="1">
                            <option value="">Seleccionar responsable</option>
                            <% usuarios.forEach(usuario => { %>
                              <option  <%= datos.responsable == usuario.usuario ? "selected" : '' %>
                                value="<%= usuario.usuario %>" >
                                <%= usuario.usuario %>      
                              </option>
                            <% }); %>
                          </select>

                          <label for="user" class="form-label mt-2">Prioridad</label>
                          <select id="Prioridad" name="Prioridad" class="form-select" aria-label="Default select example" tabindex="2">
                            <option <%= datos.prioridad == 'Alta' ? "selected" : '' %> value="Alta">Alta</option>
                            <option <%= datos.prioridad == 'Media' ? "selected" : '' %> value="Media">Media</option>
                            <option <%= datos.prioridad == 'Baja' ? "selected" : '' %> value="Baja">Baja</option>
                          </select>
                          <label for="user" class="form-label mt-2">Descripción del problema</label>
                          <textarea class="form-control" id="descripción" name="descripcion" tabindex="1" style="height: 80px; resize: none;"><%= datos.descripción_problematica %></textarea>
                          <% if(datos.estado == "Finalizada") {%>
                            <label for="user" class="form-label mt-2">Solución</label>
                          <textarea class="form-control" id="descripcionSolucion" name="descripcionSolucion" tabindex="1" style="height: 80px; resize: none;"><%= datos.descripcion_solucion %></textarea>
                          <% }%>
                          </div>   
                          <div class="mb-3">
                          
                          </div>        
                          <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Cancelar</button> -->
                          <a href="/orden-de-trabajo/generar-orden" class="btn btn-secondary">Cancelar</a> 
                          <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                          <!-- <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                          <a href="/orden-de-trabajo/generar-orden" class="btn btn-secondary">Cancelar</a> -->
                      
                      </form>
                  </div>
              </div>        
        </div>
      </div>
    </div>
  </div>
</div>