<!-- Cartel dpara editar orden -->
<div class="modal fade" id="editarOrden<%=id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Eliminar orden de trabajo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <form action="/update" method="POST">
            <input id="id" name="id" value="<%= orden.id_orden_trabajo%>" hidden>
            <div class="mb-3">
            <label for="user" class="form-label">Tipo</label>
                <select id="tipo" name="tipo" class="form-select" aria-label="Default select example" tabindex="2">
                    <option <%= orden.tipo == 'One shoot' ? "selected" : '' %> value="One shoot">One shoot</option>
                    <option <%= orden.tipo == 'Periódico' ? "selected" : '' %> value="Periódico">Periódico</option>                    
                </select>
            <!-- <label for="user" class="form-label mt-2">Intervalo de tiempo en horas(ESTO DEBERÍA DESAPARECER DEPENDIENDO DE LA OPCIÓN)</label>
            <input type="text" class="form-control" id="lapso" name="lapso" tabindex="1" value="<%= orden.id_orden_trabajo%>"> -->
            <label for="user" class="form-label mt-2">Tarea</label>
            <input type="text" class="form-control" id="tarea" name="tarea" tabindex="1" value="<%= orden.actividad%>">
            <label for="user" class="form-label mt-2">Fecha inicio</label>
            <input type="date" class="form-control" id="fecha" name="fecha" tabindex="1" value="<%= orden.fecha_inicio %>">
            <label for="user" class="form-label mt-2">Activo</label>
            <input type="text" class="form-control" id="activo" name="activo" tabindex="1" value="<%= orden.activo %>">
            <label for="user" class="form-label mt-2">Responsable</label>
            <input type="text" class="form-control" id="Responsable" name="Responsable" tabindex="1" value="<%= orden.responsable %>">
            <label for="user" class="form-label mt-2">Tiempo esperado en horas</label>
            <input type="text" class="form-control" id="tiempo_esperado" name="tiempo_esperado" tabindex="1" value="<%= orden.tiempo_esperado %>">
            <label for="user" class="form-label mt-2">Prioridad</label>
            <select id="Prioridad" name="Prioridad" class="form-select" aria-label="Default select example" tabindex="2">
                <option <%= orden.prioridad == 'Alta' ? "selected" : '' %> value="Alta">Alta</option>
                <option <%= orden.prioridad == 'Media' ? "selected" : '' %> value="Media">Media</option>
                <option <%= orden.prioridad == 'Baja' ? "selected" : '' %> value="Baja">Baja</option>
            </select>
            <label for="user" class="form-label mt-2">Descripción del problema</label>
            <input type="text" class="form-control" id="descripción" name="descripcion" tabindex="1" value="<%= orden.descripción_problematica %>">
            
            </div>   
            <div class="mb-3">
            
            </div>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
        </form>
          
        </div>
      </div>
    </div>
  </div>