<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">    
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.datatables.net/fixedheader/3.1.6/css/fixedHeader.dataTables.min.css">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    
    <%- include('partes/header.ejs') %>
    
<style>

#intervaloPeriodica, #lapsoPeriodica{
   display: none;
}
#formVer{
  width: 2rem;
}
</style>
    <title>GESTIÓN DE ORDENES DE TRABAJO</title>
</head>
<body>
  <div id="menu">
  <%- include('partes/navegacion.ejs') %>
  </div>
      <main>
      <div id="titulo">ORDENES DE TRABAJO</div>
      <div  eblclass="container">    

        <!-- Boton crear orden -->
                <button type="button" class="btn btn-outline-primary mt-4" data-bs-toggle="modal" data-bs-target="#crearOrden">
          <i class='bx bxs-plus-circle bx-md'></i>
        </button>

      <table class="table table-bordered table-striped text-center mt-4 display" id="tabla">
        <thead>
          <tr class="bg-primary text-white">
            <th scope="col" class="p-1">ID</th>
            <th scope="col" class="p-1">TAREA</th>
            <th scope="col" class="p-1">ESTADO</th>
            <th scope="col" class="p-1">PRIORIDAD</th>
            <th scope="col" class="p-1">RESPONSABLE</th>
            <th scope="col" class="p-1">INICIO PROGRAMADO</th>
            <th scope="col" class="p-1">ACTIVO</th>
            <th scope="col" class="p-1">ACCIONES</th>
          </tr>

        </thead>
        <tbody>
          <!-- //Los results que yo paso en el index.js, acá los uso con la variable orden declarada dentro del forEach-->
          <% results.forEach((orden)=>{ %>             
            <tr >  
                <td class="p-1"><%= orden.id_orden_trabajo %></td>  
                <td class="p-1"><%= orden.actividad %></td>
                <td class="p-1"><%= orden.estado %></td>
                <td class="p-1"><%= orden.prioridad %></td>
                <td class="p-1"><%= orden.responsable %></td>
                <td class="p-1"><%= orden.fecha_inicio %></td>
                <td class="p-1"><%= orden.activo %></td>
                <td class="p-1">
                  <!-- Boton ver orden -->
                  <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#verOrden<%= orden.id_orden_trabajo %>">
                    <i class='bx bx-show bx-sm'></i>
                  </button>
                  <!-- Boton editar orden -->  
                   <button type="button" class="btn btn-outline-info"  data-bs-toggle="modal" data-bs-target="#editarOrden<%= orden.id_orden_trabajo %>">
                    <i class='bx bx-edit-alt bx-sm'></i>
                  </button>
                  <!-- Boton eliminar orden -->  
                  <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#eliminarOrden<%= orden.id_orden_trabajo %>">
                    <i class='bx bx-trash bx-sm bx-flip-horizontal' style='color:#0f1010' ></i>
                  </button>
                </td>
            </tr>
            <%- include('partes/modalEditarOrden.ejs',{"id":orden.id_orden_trabajo, "datos":orden}) %>
            <%- include('partes/modalEliminarOrden.ejs',{"id":orden.id_orden_trabajo}) %> 
            <%- include('partes/modalVerOrden.ejs',{"id":orden.id_orden_trabajo, "datos":orden}) %>                         
         <% }) %>
          </tbody>
      </table>
      </div>
    </main>                      
    
    <!-- MODAL CREAR ORDEN -->
<div class="modal fade" id="crearOrden" tabindex="-1" data-bs-keyboard="false" data-bs-backdrop="static" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
          <div class="container mt-10">     
              <div class="card border-secondary">  
                  <div class="card-header bg-primary text-white">Nueva orden de trabajo</div>
                  <div class="card-body">
                      <form action="/save" method="POST">
                          <div class="mb-3">
                            <label for="user" class="form-label">Tipo</label>
                            <select id="select" name="select" class="form-select" aria-label="Default select example" tabindex="2">
                              <option value="">Seleccionar tipo</option>
                              <option value="Correctiva" >Correctiva</option>
                              <option value="Programada">Programada</option>
                            </select>
                              <label for="user" class="form-label mt-2" id="intervaloPeriodica">Repetir cada (cantidad de horas) </label>
                              <input type="text" class="form-control"  id="lapsoPeriodica" name="lapsoPeriodica" tabindex="1" value="0">
                          <label for="user" class="form-label mt-2">Tarea</label>
                          <textarea class="form-control" id="tarea" name="tarea" tabindex="1" style="height: 80px; resize: none;"></textarea>
                          <label for="user" class="form-label mt-2">Fecha inicio</label>
                          <input type="datetime-local" class="form-control" id="fecha" name="fecha" tabindex="1">
                          <label for="user" class="form-label mt-2">Activo</label>
                          <!-- <input type="text" class="form-control" id="activo" name="activo" tabindex="1"> -->
                          <select id="activo" name="activo" class="form-select" tabindex="1">
                            <option value="">Seleccionar activo</option>
                            <% activos.forEach(activo => { %>
                                <option value="<%= activo.nombre %>"><%= activo.nombre %></option>
                            <% }); %>
                        </select>
                          <label for="user" class="form-label mt-2">Elemento involucrado</label>
                          <input type="text" class="form-control" id="elemento" name="elemento" tabindex="1">
                          <label for="user" class="form-label mt-2">Responsable</label>
                          <input type="text" class="form-control" id="Responsable" name="Responsable" tabindex="1">
                          <label for="user" class="form-label mt-2">Prioridad</label>
                          <select id="Prioridad" name="Prioridad" class="form-select" aria-label="Default select example" tabindex="2">
                              <option value="Alta" selected>Alta</option>
                              <option value="Media">Media</option>
                              <option value="Baja">Baja</option>
                          </select>
                          <label for="user" class="form-label mt-2">Descripción del problema</label>
                          <textarea class="form-control" id="descripción" name="descripcion" tabindex="1" style="height: 80px; resize: none;"></textarea>
                          </div>   
                          <div class="mb-3">
                          
                          </div>        
                          <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button> -->
                          <a href="/orden-de-trabajo/generar-orden" class="btn btn-secondary">Cancelar</a> 
                          <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                      </form>
                  </div>
              </div>        
        </div>
      </div>
    </div>
  </div>
</div>
<!-- -------------------------------------------------------------------------- -->
          
    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>    
<!-- JQUERY -->
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<!-- DATATABLES -->
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.6/js/dataTables.fixedHeader.min.js"></script> 
<!-- BOOTSTRAP -->
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="/buscarFiltrarTabla.js"></script>
<script src="/ocultarIntervalo.js"></script>
<script src="/actualizarPagina.js"></script>

</body>
</html>