<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">    
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    
    <%- include('partes/header.ejs') %>
    <title>ACTIVOS</title>
</head>
<body>
    <%- include('partes/navegacion.ejs') %>
    <main>
      <div id="titulo-container">
        <div id="titulo">ACTIVOS</div>
      </div>
      <div  eblclass="container">  
        <!-- Boton agregar activo -->
        <button type="button" class="btn btn-outline-secondary  mt-4" data-bs-toggle="modal" data-bs-target="#agregarActivo" id="botonAgregarActivo">
          <i class='bx bx-plus' style='color:rgba(2, 1, 1, 0.68); font-size:2.5rem;'></i>
        </button>
      <table class="table table-bordered table-striped text-center mt-4" id="tabla">
        <thead>
          <tr class="bg-primary text-white">
            <th scope="col" class="p-1">ID </th>
            <th scope="col" class="p-1">PLANTA </th>
            <th scope="col" class="p-1">SECTOR </th>
            <th scope="col" class="p-1">ACTIVO </th>
            <th scope="col" class="p-1">ESTADO </th>
            <th scope="col" class="p-1">ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          <!--Los results que yo paso en el index.js, acá los uso con la variable orden declarada dentro del forEach-->
          <% results.forEach((activo)=>{ %>             
            <tr>
                <td class="p-1"><%= activo.idactivos %></td>  
                <td class="p-1"><%= activo.planta %></td>  
                <td class="p-1"><%= activo.sector %></td>
                <td class="p-1"><%= activo.nombre %></td>
                <td class="p-1"><%= activo.estado %></td>  
                <td class="p-1">
                  <!-- Boton editar activo -->  
                  <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#editarActivo<%= activo.idactivos %>">
                    <i class='bx bx-edit-alt bx-sm'></i>
                  </button>
                  <!-- Boton eliminar activo -->  
                  <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#eliminarActivo<%= activo.idactivos %>">
                    <i class='bx bx-trash bx-sm bx-flip-horizontal' style='color:#0f1010' ></i>
                  </button>
                </td>
            </tr>
           
            <%- include('partes/modalEditarActivo.ejs',{"id":activo.idactivos,"datos":activo}) %> 
            <%- include('partes/modalEliminarActivo.ejs',{"id":activo.idactivos, "nombreActivo": activo.nombre}) %>

         <% }) %>
        </tbody>
      </table>
      
      </div>
    </main>   


     <!-- MODAL AGREGAR ACTIVO -->
     <!-- Cartel de confirmar finalización de  orden -->
      <div class="modal fade" id="agregarActivo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <div class="container mt-10">     
                    <div class="card border-secondary">  
                        <div class="card-header bg-secondary text-white">Nuevo item</div>
                        <div class="card-body">
                            <form action="/saveActivo" method="POST">
                                <div class="mb-3">
                                <label for="user" class="form-label mt-2">Planta</label>
                                <input type="text" class="form-control" id="planta" name="planta" tabindex="1">
                                <label for="user" class="form-label mt-2">Sector</label>
                                <input type="text" class="form-control" id="sector" name="sector" tabindex="1">
                                <label for="user" class="form-label mt-2">Activo</label>
                                <input type="text" class="form-control" id="activo" name="activo" tabindex="1">
                                <label for="user" class="form-label mt-2">Estado</label>
                                <select id="estado" name="estado" class="form-select" aria-label="Default select example" tabindex="2">
                                  <option value="Disponible" selected>Disponible</option>
                                  <option value="No disponible">No disponible</option>
                                </select>
                                </div>   
                                <div class="mb-3">
                                </div>        
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                            </form>
                        </div>
                    </div>        
              </div>
            </div>
          </div>
        </div>
      </div>
     <!-- ----------------------------------------- -->
      
  <!-- JQUERY -->
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  <!-- BOOTSTRAP -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <!-- DATATABLES -->
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <!-- BOOTSTRAP -->
  <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
  <script src="/buscarFiltrarTabla.js"></script>
  <script src="/actualizarPagina.js"></script>
  
</body>
</html>