<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">    
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <%- include('partes/header.ejs') %>
    <style>
    #botonAgregarStock {
        font-size: 2em;
      }
    </style>
    <title>GESTIÓN DE ORDENES DE TRABAJO</title>
</head>
<body>
  <%- include('partes/navegacion.ejs') %>
    <main>
      <div id="titulo">CONTROL DE STOCK</div>
      <div  eblclass="container">    
        <!-- Boton agregar item -->  
        <button type="button" class="btn btn-outline-secondary  mt-4" data-bs-toggle="modal" data-bs-target="#agregarItem" id="botonAgregarStock">
            <i class='bx bxs-add-to-queue bx-tada' ></i>
        </button>

      <table class="table table-bordered table-striped text-center mt-4" id="tabla">
        <thead>
          <tr class="bg-primary text-white">
            <th scope="col" class="p-1">ID</th>
            <th scope="col" class="p-1">ITEM</th>
            <th scope="col" class="p-1">CANTIDAD</th>
            <th scope="col" class="p-1">ESTADO</th>
            <th scope="col" class="p-1">Cantidad de advertencia</th>
            <th scope="col" class="p-1">Cantidad crítica</th>
            <th scope="col" class="p-1">ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          <!-- //Los results que yo paso en el index.js, acá los uso con la variable orden declarada dentro del forEach                                  -->
          <% results.forEach((item)=>{ %>             
            <tr >  
                <td class="p-1"><%= item.idstock %></td>  
                <td class="p-1"><%= item.item %></td>
                <td class="p-1"><%= item.cantidad %></td>
                <% if (item.cantidad > item.CantidadAdvertencia) { %>
                  <td class="p-1"><i class='bx bxs-bell' style="color:green"></i></td>
                <% } %>
                <% if (item.cantidad > item.CantidadCritica && item.cantidad <= item.CantidadAdvertencia) { %>
                  <td class="p-1"><i class='bx bxs-bell' style="color:rgba(242, 242, 64, 0.996)"></i></td>
                <% } %>
                <% if (item.cantidad <= item.CantidadCritica) { %>
                  <td class="p-1"><i class='bx bxs-bell' style="color:rgb(255, 0, 0)"></i></td>
                <% } %>
                <td class="p-1"><%= item.CantidadAdvertencia %></td>
                <td class="p-1"><%= item.CantidadCritica %></td>
                <td class="p-1">
                  <!-- Boton editar stock -->  
                   <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#editarStock<%= item.idstock %>">
                    <i class='bx bx-edit-alt bx-sm'></i>
                  </button>
                  <!-- Boton eliminar item -->  
                  <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#eliminarItem<%= item.idstock %>">
                    <i class='bx bx-trash bx-sm bx-flip-horizontal' style='color:#0f1010' ></i>
                  </button>
                </td>
            </tr>
            <%- include('partes/modalAgregarItem.ejs') %>
            <%- include('partes/modalEditarStock.ejs',{"id":item.idstock, "datos":item}) %>
            <%- include('partes/modalEliminarItem.ejs',{"id":item.idstock}) %>                        
         <% }) %>
        </tbody>
      </table>
      </div>
    </main>                      
                      
          
    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>    
<!-- JQUERY -->
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<!-- DATATABLES -->
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<!-- BOOTSTRAP -->
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="/buscarFiltrarTabla.js"></script>
<script src="/actualizarPagina.js"></script>
</body>
</html>