<!DOCTYPE html>
<!---Coding By CodingLab | www.codinglabweb.com--->
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>Modificar datos</title>
<!---Custom CSS File--->
<%- include('partes/header.ejs') %>
<link rel="stylesheet" href="/fomularioModificacionDatos.css" />
</head>
<body>

  <div id="menu">
    <%- include('partes/navegacion.ejs') %>
  </div>
  
  <section class="container">
    <form id="modificarDatosForm" action="/modificarDatosPersonales" class="form" method="post">
      <h1 style="text-align: center; text-decoration: underline; color: lightslategray;">MODIFICAR DATOS PERSONALES</h1>
      <div class="input-box">
        <label>USUARIO</label>
        <input type="text" placeholder="Nombre de usuario" name="usuario" required />
      </div>
      <div class="input-box">
        <label>CONTRASEÑA</label>
        <input type="password" name="passwordActual" placeholder="Contraseña" required />
      </div>
      <div class="input-box">
        <label>NOMBRE</label>
        <input type="text"  name="nombre" placeholder="Nombre" value="<%= dato[0].nombre %>" required />
      </div>
      <div class="input-box">
        <label>APELLIDO</label>
        <input type="text" placeholder="Apellido" name="apellido" value="<%= dato[0].apellido %>" required />
      </div>
      <div class="column">
        <div class="input-box">
          <label>NÚMERO DE TELÉFONO</label>
          <input type="number" placeholder="Número de teléfono" name="telefono" value="<%= dato[0].telefono %>" required />
        </div>
      </div>
      <div class="input-box">
        <label class="achicarFontSize">MODIFICAR USUARIO</label>
        <input type="radio" id="yesOptionUser" name="userModification" value="yes" onclick="showHideUserNewField()" />
        <label class="SiNo" for="yesOptionUser">Si</label>
        <input type="radio" id="noOptionUser" name="userModification" value="no" onclick="showHideUserNewField()" checked />
        <label class="SiNo" for="noOptionUser">No</label>
      </div>
      <div class="input-box" id="userNewField" style="display: none;">
        <label>USUARIO NUEVO</label>
        <input type="text" placeholder="Nuevo usuario" name="usuarioNuevo" />
      </div>
      <div class="input-box">
        <label class="achicarFontSize">MODIFICAR CONTRASEÑA</label>
        <input type="radio" id="yesOptionPassword" name="passwordModification" value="yes" onclick="showHidePasswordFields()" />
        <label class="SiNo" for="yesOptionPassword">Si</label>
        <input type="radio" id="noOptionPassword" name="passwordModification" value="no" onclick="showHidePasswordFields()" checked />
        <label class="SiNo" for="noOptionPassword">No</label>
      </div>
      <div class="input-box" id="passwordFields" style="display: none;">
        <label>NUEVA CONTRASEÑA</label>
        <input type="password" placeholder="Nueva contraseña" name="newPassword" />
      </div>
      <div class="input-box" id="repeatPasswordFields" style="display: none;">
        <label>REPETIR CONTRASEÑA</label>
        <input type="password" placeholder="Repetir nueva contraseña" name="repetirNewPassword" />
      </div>
      
      <button type="submit">ACEPTAR CAMBIOS</button>
      <% if(login){ %>
        <button type="button" onclick="window.location.href='/estadistica'">Cancelar</button>
      <%}else{%>
        <button type="button" onclick="window.location.href='/orden-de-trabajo/pendiente'">Cancelar</button>
      <%}%>
    </form>
  </section>
<script>
function showHideUserNewField() {
  var userNewField = document.getElementById('userNewField');
  var noOptionUser = document.getElementById('noOptionUser');
  if (noOptionUser.checked) {
    userNewField.style.display = 'none';
    document.querySelector('#userNewField input').removeAttribute('required'); // Removemos el atributo required
  } else {
    userNewField.style.display = 'block';
    document.querySelector('#userNewField input').setAttribute('required', 'required'); // Restauramos el atributo required
  }
}

function showHidePasswordFields() {
  var passwordFields = document.getElementById('passwordFields');
  var repeatPasswordFields = document.getElementById('repeatPasswordFields');
  var noOptionPassword = document.getElementById('noOptionPassword');
  if (noOptionPassword.checked) {
    passwordFields.style.display = 'none';
    repeatPasswordFields.style.display = 'none';
    document.querySelector('#passwordFields input').removeAttribute('required'); // Removemos el atributo required
    document.querySelector('#repeatPasswordFields input').removeAttribute('required'); // Removemos el atributo required
  } else {
    passwordFields.style.display = 'block';
    repeatPasswordFields.style.display = 'block';
    document.querySelector('#passwordFields input').setAttribute('required', 'required'); // Restauramos el atributo required
    document.querySelector('#repeatPasswordFields input').setAttribute('required', 'required'); // Restauramos el atributo required
  }
}

document.getElementById('modificarDatosForm').addEventListener('submit', function(event) {
  var confirmation = confirm('¿Está seguro de que desea aceptar los cambios?');
  if (!confirmation) {
    event.preventDefault();
  }
});
</script>
</body>
</html>
