<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">    
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <!-- BOOTSTRAP -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
     <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
     <%- include('partes/header.ejs') %>
    <title>Solicitudes de tareas</title>
</head>
<body>
    <div id="menu">
      <%- include('partes/navegacion.ejs') %>
      
    </div>
    <main>
      <div id="titulo-container">
      <div id="titulo">SOLICITUDES DE TAREAS</div>
      </div>
          <div  eblclass="container" class="table-responsive">  
            <!-- Boton crear orden -->
            <button type="button" class="btn btn-outline-primary mt-4" data-bs-toggle="modal" data-bs-target="#crearSolicitud">
                <i class='bx bx-task fs-1'></i>
              </button>     
          <table class="table table-bordered table-striped text-center mt-4" id="tabla">
            <thead>
              <tr class="bg-primary text-white">
                <th scope="col" class="p-1 col-id">ID SOLICITUD</th>
                <th scope="col" class="p-1">DESCRIPCIÓN</th>
                <th scope="col" class="p-1">PRIORIDAD</th>
                <th scope="col" class="p-1">ACTIVO</th>
                <th scope="col" class="p-1">ESTADO</th>
                <!-- <th scope="col" class="p-1 col-acciones">ACCIONES</th> -->
              </tr>
            </thead>
            <tbody>
              <!-- //Los results que yo paso en el index.js, acá los uso con la variable orden declarada dentro del forEach                                  -->
              <% results.forEach((solicitud)=>{ %>             
                <tr>  
                    <td class="p-1 col-id"><%= solicitud.idsolicitud_ot %></td>  
                    <td class="p-1"><%= solicitud.problema %></td>
                    <td class="p-1"><%= solicitud.prioridad %></td>
                    <td class="p-1"><%= solicitud.activo %></td>
                    <td class="p-1"><%= solicitud.estado %></td>  
                    <!-- <td class="p-1 col-acciones">
                      
                      <button type="button" class="btn btn-outline-info"  data-bs-toggle="modal" data-bs-target="#editarSolicitud<%= solicitud.idsolicitud_ot  %>">
                        <i class='bx bx-edit-alt bx-sm'></i>
                      </button>
                      
                      <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#eliminarSolicitud<%= solicitud.idsolicitud_ot %>">
                        <i class='bx bx-trash bx-sm bx-flip-horizontal' style='color:#0f1010' ></i>
                      </button>  
                                   
                    </td> -->
                </tr>
                                              
             <% }) %>
            </tbody>
          </table>
          <%- include('partes/botonesSeleccionarFechaFinalizada.ejs') %>
          </div>
            
    </main>
    <%- include('partes/modalSolicitarTarea.ejs') %>  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>    
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <!-- DATATABLES -->
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <!-- BOOTSTRAP -->
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="/buscarFiltrarTablaSolicitudesTareas.js"></script>
    <script src="/actualizarPagina.js"></script>
</body>
</html>